html {
  background-image: url('https://img.freepik.com/free-vector/animals-theme-template-vector-illustration_53876-56693.jpg?size=626&ext=jpg');
  background-repeat: no-repeat;
  background-size: cover;
}



.habitat-img{

  height:100px;
  width:100px;
}