.habitat-div{
    display: grid;
    border:solid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
  
}

.animal-card {
    border: solid;
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr 1fr;
    margin: 5%;
}