.habitat-div{
    border:solid;
    margin: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: rgba(47, 79, 79, 0.483);
  
}

.habitat-h1 {
    text-align: center;
}

.item-div{
    margin: 10%;
    border: solid;
    border-radius: 5%;
    /* background-color: rgba(0, 0, 0, 0.503); */
    color: white;
    font-size: 100%;
    height: 80%;
    text-align: center;
}

.habitat-div img {
    width: 95%;
   height: 65%;
   max-height: auto;
   border: solid;
}



.animal-card {
    border: solid;
   display: flex;
   justify-content: center;
    margin: 3.75em;
}


.habitat-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

.animal-icon {
    max-height: 7em;
}

.animal-title {
    text-align: center;
}