header {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.227),rgba(255, 255, 255, 0.489)) ,url('https://th.bing.com/th/id/OIP.YR4ErKpO1Mn7F2WXTjPCFAHaEK?w=314&h=180&c=7&r=0&o=5&dpr=3.39&pid=1.7'); */
    background-color: rgb(53, 65, 41);
    background-size:100%;
    background-repeat: repeat;
    height: 10rem;
}

a {
    text-decoration: none;
    color: rgba(241, 245, 237, 0.884);

}

a:hover {
    color: yellow;
}

.header-section{
    display: flex;
    justify-content: flex-end;
    height: 10rem;
    width: 100%;
}

.home {
    margin-right: 20%;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    font-family: fantasy;
}

 .login {
    display:inline-block;
    font-family: fantasy;
    padding: 1%;
    font-size: 1.2rem;
    /* background-color: rgba(255, 255, 255, 0.445); */
    /* border:solid; */
    height: 3.5em;
    width: 3.5em;
    margin-right: 5px;
}

.createaccount{
    display:inline-block;
    font-family: fantasy;
    padding: 1%;
    font-size: 1.2rem;
    /* background-color: rgba(255, 255, 255, 0.445); */
    /* border: solid; */
    height: 3.5em;
    width: 3.5em;
    
}

.log-auth{
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    text-align: center;
    /* border: solid */
}

.icons {
    display: flex;
    /* border: solid; */
    margin-top: 6rem;
}

.twitter-icon {
    height: 3.5em;
    width: 3.5em;
    background-color:yellow;
    color: white;
    margin-inline:1rem;
    /* border: solid; */
}

.twitter-icon:hover {
    background-color: yellowgreen;
}

.li-icon {
    height: 3.5em;
    width: 3.5em;
    background-color:blue;
    color: white;
    /* border: solid; */
 
}

.li-icon:hover {
    background-color: darkblue;
}

.aboutus{
    display:inline-block;
    font-family: fantasy;
    font-size: 1.1em;
    /* background-color: rgba(255, 255, 255, 0.445); */
    height: 4em;
    width: 5.5em;
    margin-right: 5px;
    margin-top: 4px;
    text-align: center;
}

.header-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
}

.App-header-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-size: 5rem;
    font-weight: 900;
    /* width: 100%; */
    margin: 3rem;
    color: rgba(241, 245, 237, 0.884);
}
  
  .rotate{
    width:4.5rem;
    height:4.5rem;
    padding:5px;
    animation: rotation infinite 15s linear;
  }

  @keyframes rotation{
    from{
      transform:rotate(0deg);
    }
  
    to{
      transform:rotate(360deg);
    }
  }
  
span.App-header-text {
    margin-left: 10rem;
}