header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.227),rgba(255, 255, 255, 0.489)) ,url('https://ae01.alicdn.com/kf/HTB1qGnYibSYBuNjSspiq6xNzpXat/Baby-Birthday-Photography-Backdrop-photobooth-background-Cartoon-jungle-Wall-Decoration-XT-6715-HUAYI.jpg');
    background-size:100%;
    background-repeat: repeat;
}
.header-section{
    border: solid;
    display: flex;
    justify-content: flex-end;
    height: 4rem;
    width: 100%;
    

}

.home {
   margin-right: 20%;
    padding: 1%;
    font-size: 1.5rem;
    text-align: center;
    background-color: white;
    border:solid;
    font-family: fantasy;
}

 .login {
 display:inline-block;
 font-family: fantasy;
 padding: 1%;
 font-size: 1.2rem;
 background-color: white;
 border:solid;
}

.createaccount{
    display:inline-block;
    font-family: fantasy;
    padding: 1%;
    font-size: 1.2rem;
    background-color: white;
    border: solid;
}

.log-auth{
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    text-align: center;
    border: solid;
}

.icons {
    display: flex;
    border: solid;


}

.twitter-icon {
    height: 3.5rem;
    background-color:yellow;
    border: solid;
}

.twitter-icon:hover {
    background-color: yellowgreen;
}

.li-icon {
    height: 3.5rem;
    background-color:blue;
    border: solid;
}

.li-icon:hover {
    background-color: darkblue;
}

.aboutus{
    display:inline-block;
    font-family: fantasy;
    padding: 1%;
    font-size: 1.1rem;
    background-color: white;
    border: solid;
}