header {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.227),rgba(255, 255, 255, 0.489)) ,url('https://th.bing.com/th/id/OIP.YR4ErKpO1Mn7F2WXTjPCFAHaEK?w=314&h=180&c=7&r=0&o=5&dpr=3.39&pid=1.7'); */
    background-color: rgb(53, 65, 41);
    background-size:100%;
    background-repeat: repeat;
    height: 10rem;
    width: 110vw;
}

a {
    text-decoration: none;
    color: rgba(241, 245, 237, 0.884);

}

a:hover {
    color: yellow;
}

.header-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
    height: 10rem;
    width: 100%;
}

.header-section.log-auth {
    justify-content: flex-end;
}

.home {
    font-size: 1.5rem;
    text-align: center;
    font-family: fantasy;
    margin: 4%;
}

 .login {
    display:inline-block;
    font-family: fantasy;
    font-size: 1.2rem;
    /* height: 3.5em;
    width: 3.5em; */
}

.createaccount {
    display:inline-block;
    font-family: fantasy;
    padding: 1%;
    font-size: 1.2rem;
    /* height: 3.5em;
    width: 3.5em;     */
}

.log-auth {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 2%;
    height: 7rem;
}

/* .icons {
    display: flex;
    border: solid;
    margin-top: 6rem;
} */

.aboutus{
    font-family: fantasy;
    font-size: 1.1em;
    text-align: center;
}

.header-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
}

.App-header-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center; 
    font-size: 3.5rem;
    font-weight: 10rem;
    color: rgba(241, 245, 237, 0.884);
}
  
  .rotate{
    width:4.5rem;
    height:4.5rem;
    padding: 0.5rem;
    animation: rotation infinite 15s linear;
  }

  @keyframes rotation{
    from{
      transform:rotate(0deg);
    }
  
    to{
      transform:rotate(360deg);
    }
  }
  
/* span.App-header-text {
    margin-left: 10rem;
} */