

.zoo-div{
    position: relative;
    background:radial-gradient(rgba(112, 219, 112, 0.814), rgba(174, 155, 155, 0.772));
    /* border: solid; */
    /* border-radius: 5% 0; */
    margin: 1%;
}

.zoo-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1%;
    justify-content: center;
}


.habitat-background{
    width: 777px;
    max-width: 50rem;
    height: 437px;
    max-height: 60rem;
    opacity: 90%;
    max-width: 100%;
    /* border: solid; */

}


.animal-class{
    width: 8rem;
    height: 8rem;
    margin: 6rem;
    top: 8.5rem;
    left: 15rem; 
    /* padding: 1px; */
    position:absolute;
    animation: left-to-right infinite 4s ease-in-out alternate;
}


.animal-name{
    font-size: 2rem;
}

.animal-info{
    text-align: center;
    padding: 1%;
}


.inActive {
    display: none;
}

.isActive {
    display: block;
    
}

@keyframes left-to-right{
    100%{
      transform: translateX(100%) ;
      
    }
    
    10%{
        transform: translatey(10%) ;
        
      }
  }
  
  @media all and (max-width: 600px) {
      .zoo-div {
         display:flexbox;
         margin-inline: auto;
         width: min(90%, 70.5rem);

         
        
      }
  }